body{
    background-color: rgb(173, 173, 173);
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 30px;

}
div{
    padding: 20px;
    width: 100%;
    
}
h1{
    margin-bottom: 60px;
    padding: 30px;
    border-bottom: gray solid 1px;
}

.form-control{
    width: 100%;
}

form{
    width: 100%;
}
